<main>
    <div class="body">
        <div class="box" id="larg"></div>
        <div class="box" id="larg2"></div>
        <div class="box" id="larg3"></div>
        <div class="box" id="larg4"></div>
        <div class="box" id="larg5"></div>
        <div class="box" id="larg6"></div>
        <div class="box" id="larg7"></div>
        <div class="box" id="larg8"></div>
        <div class="top">

        </div>
        <div class="mid">
                <img src="/assets/img/logo.png" alt="logo">
                <div class="name">
                    <span>
                        <h1>AURORA</h1>
                        <h4>SKIN CARE MEDICAL CENTER</h4>

                    </span>
                </div>
        </div>
        <div class="authbox">
            <h3>SIGN IN</h3>
            <form action="">
                <span class="selection">Select User Type</span><br>
                <div class="radios">
                    <div>
                        <input type="radio" name="JOB" value="cashior" class="radio"> <span>Cashior</span>
                    </div>
                    <div>
                        <input type="radio" name="JOB" value="doctor" class="radio"><span>Doctor</span>
                    </div>

                </div><br><br>
                <span class="labels">Email Address</span><br>
                <input type="text" name="name" class="input" placeholder="Enter Email Address" required><br>
                <span class="labels">PASSWORD</span><br>
                <input type="password" name="password" class="input" placeholder="Enter Password" required><br>
                <span class="labels" id="forget">Forget Password</span><br>
                <input type="submit" class="in" value="SIGN IN">

            </form>
        </div>

    </div>
</main>