main{
    width: 100%;
    height: 100%;
    
    .body{
        overflow: hidden;
        overflow-y: hidden;
        width: 100%;
        height: 100%;
        .box{
            position: fixed;
            border: solid;
            border-radius: 50%;
            
        }
        #larg{
            border-color: #991932;
            width: 335px;
            height: 335px;
            margin-left: -180px;
            margin-top: 10vh;

        }
        #larg2{
            border-color: #327897;
            width: 215px;
            height: 215px;
            margin-left: -125px;
            margin-top: 28vh;
        }
        #larg3{
            border-color: #991932;
            background-color: #991932;
            width: 30px;
            height: 30px;
            margin-left: 90vw;
            margin-top: 10vh;

        }
        #larg4{
            border-color: #991932;
            background-color: #991932;
            width: 30px;
            height: 30px;
            margin-left: 75vw;
            margin-top: 80vh;

        }
        #larg5{
            border-color: #991932;
            background-color: #991932;
            width: 30px;
            height: 30px;
            margin-left: 125px;
            margin-top: 70vh;

        }
        #larg6{
            border-color: #327897;
            background-color: #327897;
            width: 30px;
            height: 30px;
            margin-left: 70vw;
            margin-top: 30vh;
            
        }
        #larg7{
            border-color: #991932;
            background-color: #991932;
            width: 250px;
            height: 250px;
            margin-left: 90vw;
            margin-top: 40vh;
            
        }
        #larg8{
            border-color: #327897;
            background-color: #327897;
            width: 250px;
            height: 250px;
            margin-left: 20vw;
            margin-top: 80vh;
        }
        .mid{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 20px;
            
            img{
                width: 100px;
                height: 100px;
            }
            .name{
                
                
                
                h1{
                    font-family: 'Courier New', Courier, monospace;
                   
                    font-size: 64px;
                    
                }
                h4{
                   margin-top: -45px; 
                }

            }
        }
        .authbox{
            width: 300px;
            height: 350px;
            background-color: rgb(153, 25, 50,0.7);
            border-radius: 10px;
            position: sticky;
            margin-left: 40%;
            
            h3{
                width: 100%;
                text-align: center;
                padding-top: 20px;
                font-size: x-large;
                color: white;
            }
            form{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
                .selection{
                    width: 85%;
                    text-align: left;
                    font-weight: bold;
                    font-size: 15px;

                }

                .radios{
                    width: 85%;
                    height: 10px;
                    display: flex;
                    justify-content: left;
                    font-weight: bold;
                    font-size: 16px;
                    gap: 20px;
                }
                .radio{
                    width: 14px;
                    height: 14px;
                }
                .labels{
                    width: 100%;
                    height: 2px;
                    display: flex;
                    padding-left: 70px;
                    font-size: 12px;
                    font-weight: bold;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    
                }
                .input{
                    width: 80%;
                    height: 20px;
                    border-radius: 5px; 
                    font-size: 8px;              
                 }
                 #forget{
                    width: 60%;
                    color: #124A63;
                    font-size: small;
                    height: 10px;
                    display: flex;
                    justify-content: right;
                    text-align: right;
                    
                }
                .in{
                    width: 105px;
                    border-radius: 7px;
                    height: 24px;
                    background: linear-gradient(to right, #327897 , #991932);
                    color: white;
                 }
            }
        }
    }
    
}
