<main>
    <header>
        <div class="topbar">
            <div class="left">
                <img src="../../assets/img/menu.png" alt="" class="menu_icon">
                <div class="logo_box">
                    <img src="/assets/img/logo.png" alt="logo" class="logo">
                    <div class="logo_name">
                        <h2>AURORA</h2>
                        <h3>SKIN CARE MEDICAL CENTER</h3>
                    </div>
                </div>
            </div>
            <div class="right">
                <img src="../../assets/img/notification.png" alt="logo" class="notification">
                <img src="../../assets/img/profile.png" alt="logo" class="profile">
            </div>
        </div>
        <div class="toppanal">
            <div class="grating_msg">
                <span>
                    Hi, Good 
                    <span>Afternoon</span><br>
                </span>
                <span>Ms. Shalini Irugalbandara</span>
            </div>
            <div class="serch_box">
                <form action="">
                    <input type="text" name="" id="" class="serch" placeholder="Search...">
                </form>
            </div>
        </div>
    </header>
    <body>
        <div class="summery_box">
            <div class="sum_box" id="one">
                <span>
                    Total Appointments
                </span>
                <span>10</span>
            </div>
            <div class="sum_box" id="two">
                <span>
                    Pending Appointments
                </span>
                <span>3</span>
            </div>
            <div class="sum_box" id="three">
                Finished Appointments
                <span>2</span>
            </div>
            <div class="sum_box" id="four">
                <span>
                    Completed Appointments
                </span>
                <span>3</span>
            </div>
            <div class="sum_box" id="five">
                <span>
                    Waited Appointment
                </span>
                <span>9</span>
            </div>
            <div class="sum_box" id="six">
                <span>
                    Not Attended 
                </span>
                <span>2</span>
            </div>
            <div class="sum_box" id="seven">
                <span>
                    Canceled Appointments
                </span>
                <span>5</span>
            </div>
        </div>
        <div class="task_panal">
            <div class="panal" id="one">
                <table class="doctoday" >
                    <caption><img src="../../assets/img/horn.png" alt="" class="down_arrow">Today Visitings & Remaining Appointments</caption>
                    <div class="scroll">

                        <tr>
                            <td class="one"><img src="../../assets/img/down_arrow.png" alt="" class="down_arrow"></td>
                            <td class="two">Dr. Amila Abeysekara</td>
                            <td class="three">5 Appointments</td>
                            <td class="four"><input type="submit" value="Book" class="book_button"></td>
                        </tr>
                        <tr>
                            <td class="one"><img src="../../assets/img/down_arrow.png" alt="" class="down_arrow"></td>
                            <td class="two">Dr. Pawani Rathnayaka</td>
                            <td class="three">2 Appointments</td>
                            <td class="four"><input type="submit" value="Book" class="book_button"></td>
                        </tr>
                        <tr>
                            <td class="one"><img src="../../assets/img/down_arrow.png" alt="" class="down_arrow"></td>
                            <td class="two">Dr. De Silva</td>
                            <td class="three">0 Appointments</td>
                            <td class="four"><input type="submit" value="Book" class="book_button"></td>
                        </tr>
                        <tr>
                            <td class="one"><img src="../../assets/img/down_arrow.png" alt="" class="down_arrow"></td>
                            <td class="two">Dr. Amila Abeysekara</td>
                            <td class="three">5 Appointments</td>
                            <td class="four"><input type="submit" value="Book" class="book_button"></td>
                        </tr>
                    </div>
                </table>
            </div>
            <div class="panal" id="two">
                <table class="pend_payment">
                    <caption>
                        <img src="../../assets/img/payments.png" alt="">
                        Pending Payments
                    </caption>
                    <div class="scroll">

                        <tr>
                            <td class="one">1</td>
                            <td class="two">Sudharshani Silva</td>
                            <td class="three"><input type="submit" value="View Details" class="View_Details"></td>
                            <td class="four"><input type="submit" value="Pay" class="pay"></td>
                        </tr>
                        <tr>
                            <td class="one">2</td>
                            <td class="two">Supun Wijewardhana</td>
                            <td class="three"><input type="submit" value="View Details" class="View_Details"></td>
                            <td class="four"><input type="submit" value="Pay" class="pay"></td>
                        </tr>
                        <tr>
                            <td class="one">3</td>
                            <td class="two">Sudharshani Silva</td>
                            <td class="three"><input type="submit" value="View Details" class="View_Details"></td>
                            <td class="four"><input type="submit" value="Pay" class="pay"></td>
                        </tr>
                        <tr>
                            <td class="one">4</td>
                            <td class="two">Sudharshani Silva</td>
                            <td class="three"><input type="submit" value="View Details" class="View_Details"></td>
                            <td class="four"><input type="submit" value="Pay" class="pay"></td>
                        </tr>
                    </div>
                </table>
            </div>
            <div class="panal" id="three">
                <table class="pay_sum">
                    <caption>
                        <img src="../../assets/img/payment.png" alt="">
                        Payment Summary
                    </caption>
                    <div class="scroll">

                        <tr>
                            <td class="one">Total Payments</td>
                            <td class="two">Rs. 126 000</td>
                        </tr>
                        <tr>
                            <td class="one">Treatment Charges</td>
                            <td class="two">Rs. 80 000</td>
                        </tr>
                        <tr>
                            <td class="one">Hospital Charges</td>
                            <td class="two">Rs. 46 000</td>
                        </tr>
                        <tr>
                            <td class="one">Refunds</td>
                            <td class="two">Rs. 2 300</td>
                        </tr>
                    </div>
                </table>
            </div>
            <div class="panal" id="four">
                <table class="pend_payment">
                    <caption>
                        <img src="../../assets/img/waiting.png" alt="">
                        Waiting Appoinments
                    </caption>
                    <div class="scroll">

                        <tr>
                            <td class="one">1</td>
                            <td class="two">Supun Wijewardhana</td>
                            <td class="five">15/11/2024</td>
                            <td class="three"><input type="submit" value="View Details" class="View_Details"></td>
                            <td class="four"><input type="submit" value="Pay" class="pay"></td>
                        </tr>
                        <tr>
                            <td class="one">2</td>
                            <td class="two">Supun Wijewardhana</td>
                            <td class="five">15/11/2024</td>
                            <td class="three"><input type="submit" value="View Details" class="View_Details"></td>
                            <td class="four"><input type="submit" value="Pay" class="pay"></td>
                        </tr>
                        <tr>
                            <td class="one"></td>
                            <td class="two"></td>
                            <td class="three"></td>
                            <td class="four"></td>
                        </tr>
                        <tr>
                            <td class="one"></td>
                            <td class="two"></td>
                            <td class="three"></td>
                            <td class="four"></td>
                        </tr>
                    </div>
                </table>
            </div>
        </div>
    </body>
</main>